header .hero {
   height: 250px;
}
header .hero::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 250px;
   background: rgba(15, 37, 110, 0.8);
}
header .hero img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: 80% 60%;
}
header .hero .welcome {
   position: absolute;
   top: 125px;
   right: 50%;
   transform: translate(50%, -50%);
   text-align: center;
   line-height: 2.3rem;
   color: white;
}
.container h4 {
   font-weight: 400;
   color: grey;
   border-bottom: 1px solid var(--primaryColor);
   padding-bottom: 5px;
}
.container .articles {
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 2.5rem;
   margin-top: 1rem;
}
.container .articles .posts {
   background-color: white;
   padding: 1rem;
}
/* .container .articles .recent {
   background-color: white;
} */
.container .articles .recent .space_pub {
   widows: 100%;
   height: 215px;
   background-color: var(--secondaryColor);
   border-radius: 10px;
   margin-bottom: 1rem;
}
.container .articles .recent .posts_recent {
   height: 500px;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 1rem;
}
.container .articles .recent .blog {
   height: 300px;
   background-color: white;
   border-radius: 10px;
}
